body {
    margin: 0;
    padding: 0;
    background-image:url('login.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-container button{
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    color: #76a426;
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
}


.login-container input{
    background-color: #1c1c1c;
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    text-align: left;
}
.login-container{
    background-color: #272727;
    opacity: 0.76;
    padding: 40px;
    height: 300px;
    width: 800px;
    align-items: center;
    border-radius: 35px;
    color: #76a426;
    backdrop-filter: blur(10px);      
}

.login-container label{
    display: block;
    margin-top: 10px;;
}



